<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CSS GARDEN OF EVIL / Cookie Bakery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='styles.css'>
  </head>
  <body class={{ cookieObj.alignment }}>
    <p class={{ cookieObj.font }}>{{ cookieObj.text }}</p>
    {{{ body }}}
  </body>
</html>
