<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CSS GARDEN OF EVIL / Cookie Bakery</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='styles.css'>
  </head>
  <body class={{ cookieObj.alignment }}>
    <p class={{ cookieObj.font }}>{{ cookieObj.text }}</p>
    {{{ body }}}
  </body>
</html>
