<div class='container'>
  <h3> Many things have appeared onscreen </h3>

  <form action="/" method="POST">
    <div class="form-group">
      <div class='radio'>
        <label><input type='radio' value='evil' name='morality'>EVIL THINGS</input></label>
      </div>
    </div>
    <div class="form-group">
      <div class='radio'>
        <label><input type='radio' value= 'good' name='morality' >GOOD THINGS</input></label>
      </div>
    </div>


    <div class="form-group">
      <label for="favorite-food">Favorite food:</label>
      <input type="text" class="form-control" id="favorite-food" name="favorite-food"></input>
    </div>

    <select name='favorite-color' class="form-control">
      <option value='red'>Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="yellow">Yellow</option>
      <option value="orange">Orange</option>
    </select>

    <div class="row">
      <label>0</label>
      <input type="range" min="0" max="100" step="2" name='insanity'></input>
      <label>100</label>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <!-- likes / dislikes -->
  <section>
    <ul>Likes
      {{#each likes as |like|}}
        <li>{{like}}</li>
      {{/each}}
    </ul>

    <ul>Dislikes
    {{#each dislikes as |dislike| }}
      <li> {{dislike}} </li>
    {{/each}}
    </ul>
  </section>

  <!-- bio -->
  <section>
    <p>{{bio}}</p>
  </section>


  <!-- resume -->
  <section>
    <h3>My Resume</h3>

    <ul>Jobs
      {{#each resume.jobs as |job|}}
        <li>{{job}}</li>
      {{/each}}
    </ul>
  </section>

  <!-- things , etc... -->
</div>
